@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 76 37% 100%;
    --foreground: 76 52% 0%;
    --muted: 46 30% 92%;
    --muted-foreground: 46 0% 35%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 76 15% 90%;
    --input: 76 15% 90%;
    --primary: 76 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 46 100% 60%;
    --secondary-foreground: 0 0% 0%;
    --accent: 106 100% 60%;
    --accent-foreground: 0 0% 0%;
    --destructive: 8 99% 20%;
    --destructive-foreground: 8 99% 80%;
    --ring: 76 100% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 76 36% 1%;
    --foreground: 76 27% 98%;
    --muted: 46 30% 8%;
    --muted-foreground: 46 0% 65%;
    --popover: 76 36% 2%;
    --popover-foreground: 76 27% 99%;
    --card: 76 36% 2%;
    --card-foreground: 76 27% 99%;
    --border: 76 15% 11%;
    --input: 76 15% 11%;
    --primary: 76 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 46 100% 60%;
    --secondary-foreground: 0 0% 0%;
    --accent: 75.29 100% 70%;
    --accent-foreground: 0 0% 0%;
    --destructive: 8 99% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 76 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
